[mysqld]
default-authentication-plugin=mysql_native_password
max_connections=200
max_allowed_packet=64M
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[client]
default-character-set=utf8mb4
